@import '../variables';

.header{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1.5rem 2rem;


    & .header__title{
        text-transform: uppercase;
        font-size: 2.7rem;
        font-weight: 500;
    }
}