.recordCreate {
    background: rgba(246, 253, 227, 0.781);
    border-radius: 5px;
    & .recordCreate__title {
        background: $secondaryColor;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 0.8rem 1.8rem;
        color: $white;
        font-size: 1.5rem;
        font-weight: 500;
    }

    & .recordCreate__items {
        overflow:hidden;
        padding: 1rem;
        font-size: 1.3rem;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        min-width: 100%;
        
        & .recordCreate__item {
            max-width: 500px;
            width: 100%;
            & div {
                display: flex;
                display: -webkit-flex;
                align-items: center;
                & p {
                    min-width: 150px;
                }
                & input {
                    padding: 0.5rem 1rem;
                    margin: 0.7rem;
                    border:1.5px solid $secondaryColor;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    &:focus{
                        outline-color: rgb(72, 184, 72);
                    }
                }
            }
            &-title {
                font-weight: 500;
                margin:1rem 0rem;
                
            }
            &-icon {
                margin-right: 10px;
            }
        }
    }

    & .recordCreate__footer{
        display: flex;
        justify-content: flex-end;   
        padding:1rem 2rem;
        & button{
            margin-left: 1rem;
        }
    }
}
