@import './components/all';
@import './libs/normalize';
@import './fonts';
@import './variables';
@import './widthResponse.scss';

.container{
    max-width: $container;
    margin: 0 auto;
    &::before{
        content:'';
        z-index: -3;
        position: absolute;
        top:0;left:0;
        width: 100%;
        height: 100%;
        background:$backroundColor;
    }
}